<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Samolut</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
    <div class="mainAppNavLeft">
        <div class="nav">
            <div class="individualNavContainer">
                <a class="mainLink" href="/Application/ApplicationHome">Home</a>
            </div>
            <div class="individualNavContainer">
                <a class="mainLink" href="/Application/Payments">Payments</a>
            </div>
            <div class="individualNavContainer">
                <a class="mainLink" href="/Application/Add">Add</a>
            </div>
            <div class="individualNavContainer">
                <a class="mainLink" href="/Application/Account">Account</a>
            </div>
            <div class="individualNavContainer">
                <a class="mainLink" href="/Home/Index">Log Out</a>
            </div>
            <div class="individualNavContainer">
                <a class="mainLink" href="/Admin/ViewCustomers">DB Test View Customers</a>
            </div>

        </div>
    </div>
    <main role="main">
        @RenderBody()
    </main>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
