<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Samolut</title>
    <link rel="stylesheet" href="~/css/landingstyle.css" asp-append-version="true" />
</head>
<body>
    <!--nav just for landing pages-->

    <div class="nav">
        <div class="individualNavContainer"></div>
        <div class="dropDown">
            <a class="mainLink" href="/Home/Index"><span id="SamolutHomeLogo">Samolut</span></a>
        </div>

        <div class="individualNavContainer"></div>
        <div class="dropDown">
            <a class="mainLink" href="/Home/About">About & Documentation</a>
        </div>

        <div class="individualNavContainer"></div>
        <div class="dropDown">
            <a class="mainLink" href="/Account/Login">Login</a>
        </div>

        <div class="individualNavContainer"></div>
        <div class="dropDown">
            <a class="mainLink" href="/Account/SignUp">Sign Up</a>
        </div>
    </div>
    <main role="main">
        @RenderBody()
    </main>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>




