<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Samolut Authentication</title>
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
</head>
<body>
    <div class="loginNav">
        <p>Samolut</p>
        <a class="Link" href="/Home/Index">Landing Page</a>
        <a class="Link" href="/Account/Login">Login</a>
        <a class="Link" href="/Account/SignUp">Sign Up</a>
    </div>
    <main role="main">
        @RenderBody()
    </main>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
