<style>
    #Payments {
        background-color: rgba(98, 204, 141, 0.5);
    }

        #Payments:hover {
            background-color: rgba(255, 255, 255, 0.5);
        }
</style>
<body>
    <div class="topDisplay">
        <h2>Samolut Payments</h2>
    </div>

    <div class="mainAppSpace">
        <div class="applicationBox">
            <div class="currentSelectedAccountBox">
                <form asp-action="transferExternal" asp-controller="Payments" method="post">
                    <button type="submit" class="submit"></button>
                </form>
                <p>EXTERNAl</p>
            </div>
        </div>
    </div>
</body>