@{
	Layout = "_loginSignupLayout"; 
}


<body>
    
    <div class="loginSpace">
        <div class="phoneLogin">
            <p class="welcomeText">Welcome back</p>
            <p class="welocomeText2">Enter the phone number associated with your Samolut account.</p>
            <form asp-action="Login" asp-controller="Account" method="post">
                <input type="tel" id="phonenumber" name="phonenumber" placeholder="Enter your phone number" required>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
                <button type="submit" class="Submit" href="">Submit</button><br />
                <! --   adding a error messge same way i would with php-->
                @{
                    if (ViewBag.ErrorMessage != null)
                    {
                        <div class="errorMessage">@ViewBag.ErrorMessage</div>
                    }
                }
            </form>
        </div>
    </div>
</body>