@{
    Layout = "_homeLayout";
}

<body>

    <div class="containTwoSpaces">
        
        <div class="landingSpace1">

            <div class="leftContainer">
                <h1>About and Documentation</h1>
            </div>

        </div>


        <div class="landingSpace2">
        </div>
    </div>

</body>