@{
    Layout = "_homeLayout";
}
<body>



<div class="containTwoSpaces">
    <!-- left half of screeen -->
    <div class="landingSpace1">

        <div class="leftContainer">
            <h1 class="bigWriting">The worldwide <span id="greenWords">payments</span> and <span id="greenWords">banking</span> project</h1>
            <p class="smallWriting">This is a university project to develope a currency exchange and banking app with inspiration from the apps Revolut, AirWallex and Wise.</p>
            <a class="mainLink" href="/Home/Login">Login</a>
            <a class="mainLink" href="/Home/SignUp">Sign Up</a>
        </div>

    </div>


    <!-- right half of screeen with the image of my project -->
    <div class="landingSpace2">
            <img src="~/images/phoneandtablet.png" alt="Phone and tablet showing my samolut app." id="img1">
    </div>
</div>

</body>
