@{
	Layout = "_loginSignupLayout";
}
<body>
    <div class="loginSpace">
        <div class="phoneLogin">
            <p class="welocomeText2">Enter your password.</p>
            <form method="post">
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
                <a class="Submit" href="/Application/ApplicationHome">Submit</a>
                <div class="status">
                </div>
            </form>
        </div>
    </div>
</body>