@{
	Layout = "_loginSignupLayout"; 
}

<body>
    <div class="loginNav">
        <p>Samolut</p>
    </div>
    <div class="loginSpace">
        <div class="phoneLogin">

            <p class="welcomeText">Welcome back</p>
            <p class="welocomeText2">Enter the phone number associated with your Samolut account.</p>
            <form method="post">
                <label for="phone">Phone Number:</label><br>
                <input type="tel" id="phome" name="phone" placeholder="Enter your phone number" required>
                <input id="submitbutton" type="submit" value="Submit" name="submitPhone">

                <div class="status">
                    <?php echo $message; ?>
                </div>
            </form>
        </div>
    </div>
</body>