@{
	Layout = "_loginSignupLayout"; 
}

<body>
    
    <div class="loginSpace">
        <div class="phoneLogin">

            <p class="welcomeText">Welcome back</p>
            <p class="welocomeText2">Enter the phone number associated with your Samolut account.</p>
            <form method="post">
                <input type="tel" id="phone" name="phone" placeholder="Enter your phone number" required>
                <a class="Submit" href="/Home/LoginPassword">Submit</a>
                
            </form>
        </div>
    </div>
</body>