* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    /* 2 lines below are from a online gradient maker i found */
    background: white;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.individualNavContainer {
}

.nav {
    margin-top: 10px;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
}

.individualNavContainer {
    margin: 10px;
}

    .individualNavContainer:hover .dropdownContent {
        position: absolute;
        background-color: #bfbfbf;
        border: none;
        border-radius: 5px;
        padding: 10px;
    }

.dropdownLinks {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    transition-delay: 1ms;
}

    .dropdownLinks:hover {
        color: #c3efff;
    }


.dropdownContent {
    position: absolute;
    display: none;
}

.landingSpace1 {
    background-color: rgb(220, 190, 240);
    width: 50%;
    height: 100%;
}

.landingSpace2 {
    background-color: rgb(151, 213, 140);
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containTwoSpaces {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#img1 {
    width: 85%;
    height: auto;
    /* margin-bottom: 10vh; */
}

.leftContainer {
    width: %;
    margin-left: 25%;
    margin-top: 25%;
}

#greenWords {
    color: rgb(61, 159, 61);
}

.bigWriting {
    font-size: xxx-large;
}

.smallWriting {
    font-size: medium;
}
