* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    /* 2 lines below are from a online gradient maker i found */
    background: white;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
}


.nav {
    margin-left: 12%;
    margin-top: 10px;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
}

.individualNavContainer {
    
}


.dropdownContent {
    position: absolute;
    display: none;
}

.landingSpace1 {
    background-color: white;
    width: 50%;
    height: 100%;
}

.landingSpace2 {
    background-color: white;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containTwoSpaces {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#img1 {
    width: 85%;
    height: auto;
    /* margin-bottom: 10vh; */
}

.leftContainer {
    margin-left: 25%;
    margin-top: 25%;
}

#greenWords {
    color: rgb(61, 159, 61);
}

.bigWriting {
    font-size: xxx-large;
}

.smallWriting {
    font-size: medium;
}

/*----------------------------------------------------------- home page nav bar styling*/

a.mainLink {
    text-decoration: none;
    color: black;
    padding: 10px;
    transition-delay: 1ms;
    font-weight: 600;
}

a.mainLink:hover {
    color: rgb(69, 180, 69);
}

#SamolutHomeLogo {
    color: rgb(69, 180, 69);
    font-size: large;
    font-weight: 700;
}