* {
    /* i like the look of the apple website font */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* all background stuff and keeping backround steady when i scroll */
    /* background-image: url("backgroundimage.jpg"); */
    /* I have taken these 2 lines of css from a website where i designed my own gradient to look like revolut's website */
    background: #083512;
    background: radial-gradient(at left top, #083512, #000000);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}



/* all login phone box stuff */
.phoneLogin {
    height: 30vh;
    width: 25vw;
    /* make it kinda centered but more towards the top*/
    margin-top: 20vh;
    flex-direction: column;
    align-items: center;
}

.welcomeText {
    font-size: x-large;
    font-weight: 500;
    color: white;
    margin-bottom: 0px;
}

.welocomeText2 {
    color: rgba(255, 255, 255, 0.499);
    font-size: medium;
}

.loginNav {
    font-size: medium;
    font-weight: 500;
    color: white;
    margin-bottom: 0px;
    margin-left: 10px;
}

.loginSpace {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
