* {
    /* i like the look of the apple website font */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* all background stuff and keeping backround steady when i scroll */
    /* I have taken these 2 lines of css from a website where i designed my own gradient to look like revolut's website */
    background: #083512;
    background: radial-gradient(at left top, #083512, #000000);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}



/* all login phone box stuff */
.phoneLogin {
    height: 30vh;
    width: 25vw;
    /* make it kinda centered but more towards the top*/
    margin-top: 20vh;
    flex-direction: column;
    align-items: center;
}

.welcomeText {
    font-size: x-large;
    font-weight: 500;
    color: white;
    margin-bottom: 0px;
}

.welocomeText2 {
    color: rgba(255, 255, 255, 0.499);
    font-size: medium;
}

.loginNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: medium;
    font-weight: 500;
    color: white;
    margin-bottom: 0px;
    margin-left: 10px;
}

.loginSpace {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}


#phonenumber {
    border: 1px solid;
    border-radius: 5px;
    margin-top: 5px;
    width: 200px;
    height: 30px;

}
#password {
    border: 1px solid;
    border-radius: 5px;
    margin-top: 5px;
    width: 200px;
    height: 30px;
}

.Submit {
    color: white;
    text-decoration: none;
    margin-top: 20px;
}

.Submit:hover {
    color: blue;
}

main{
    width: 100%;
    height: 100%;
}



/*------------------------Sign up stuff*/
.signupDiv {
    margin-top:80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    width: 70vw;
    height: 70vh;
    border-radius:10px;
    justify-content:center;

}

a.Link {
    text-decoration: none;
    color: lightgrey;
    padding: 10px;
    transition-delay: 1ms;
    font-weight: 300;

}

a.Link:hover {
    color: rgb(69, 180, 69);
}

/*login left and right divs*/

.signupLeft {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.signupRight {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    border: 1px solid;
    border-radius: 5px;
    width: 200px;
    margin-top: 5px;
    height: 30px;

}

h2 {
    color: white;
}
.labelAndInput{
    margin-top: 20px;
}

input {
    color: black;
}